@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  background-color: orange;
}

.logo-subtitle {
  color: white;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.post-container {
  display: flex;
  flex-basis: 40%; /* Two items per row  */
  margin: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post-author {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.post-content {
  position: relative;
  background-color: #e8e8e8;
  padding: 1rem;
}

.post-header {
  position: relative;
  margin-bottom: 1rem;
}

.post-header p {
  font-family: "Patrick Hand", cursive;
  font-size: 1.5rem;
}

.post-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.75rem;
}

.trash-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.ellipsis-icon {
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.modal-title {
  font-size: 1.25rem;
}

.delete-btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.delete-btn-container button {
  width: 30%;
  color: white;
  padding: 1rem;
  border: none;
}

.btn-success {
  background-color: #5eb762;
}

.btn-danger {
  background-color: #f5564b;
}
