* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
}

.btn-primary {
  background-color: blue;
  color: white;
}

.btn-warning {
  background-color: #cfb53b;
}

.logo {
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.1rem;
  margin: 0.25rem;
}

.logo-title {
  color: blue;
  font-size: 3rem;
  margin-bottom: 0.25rem;
}

.modal-title {
  font-size: 2rem;
  text-align: center;
}

.line {
  margin: 2rem 0rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}

.form-item label {
  margin-bottom: 0.5rem;
}

.form-item input {
  background-color: #f1f1f1;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.form-item button {
  border: none;
  background-color: #5eb762;
  padding: 1rem;
  color: white;
}

.form-item p {
  text-align: center;
  font-weight: bolder;
  margin-top: 1rem;
}

.form-item a {
  text-decoration: none;
}
