* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
}

.btn-primary {
  background-color: blue;
  color: white;
}

.btn-warning {
  background-color: #CFB53B;
}

.logo {
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.1rem;
  margin: 0.25rem;
}

.logo-title {
  color: blue;
  font-size: 3rem;
  margin-bottom: 0.25rem;
}
